{% extends 'base.html' %} 
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
  <div class="row justify-content-end my-3">
    <div class="col-4 input-group">
      <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="btn_search" type="button">
          찾기
        </button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="thead-dark text-center">
        <th scope="col">#</th>
        <th scope="col">추천</th>
        <th scope="col" style="width: 50%;">제목</th>        
        <th scope="col">작성자</th>
        <th scope="col">작성일시</th>
      </tr>
    </thead>

    <tbody>
      {% if question_list %} 
      {% for question in question_list %}
      <tr class="text-center">
        <td>
          {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
        </td>
        <td>
          {% if question.voter.all.count > 0 %}
          <span class="badge badge-warning px-2 py-1">
            {{ question.voter.all.count }}
          </span>
          {% endif %}
        </td>
        <td class="text-left">
          <a href="{% url 'pybo:detail' question.id %}">
            {{question.subject}}
          </a>
          {% if question.answer_set.count > 0 %}
          <span class="text-danger small ml-2">[{{ question.answer_set.count }}]</span>
          {% endif %}
        </td>
        <td>
          {{ question.author.username }}
        </td>
        <td>
          {{question.create_date}}
        </td>
      </tr>
      {% endfor %} {% else %}

      <tr>
        <td colspan="3">
          질문이 없습니다.
        </td>
      </tr>

      {% endif %}
    </tbody>
  </table>
  <ul class="pagination justify-content-center">
    {% if question_list.has_previous %}
    <li class="page-item">
      <a
        href="#"
        class="page-link"
        data-page="{{ question_list.previous_page_number }}"
      >
        이전
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
        이전
      </a>
    </li>
    {% endif %} 
    {% for page_number in question_list.paginator.page_range %}    
      {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}      
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
          <a href="#" class="page-link" data-page="{{ page_number }}">{{page_number}}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="#" class="page-link" data-page="{{ page_number }}">{{page_number}}</a>
        </li>
        {% endif %} 
      {% endif %}
    {% endfor %} 
    {% if question_list.has_next %}

    <li class="page-item">
      <a href="#" class="page-link" data-page="{{ question_list.next_page_number }}">
        다음
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
        다음
      </a>
    </li>
    {% endif %}
  </ul>

  <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">
    질문 등록하기
  </a>
</div>

<form action="{% url 'index' %}" id="searchForm" method="get">
  <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
  <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}

<script>
  const page_links = document.querySelectorAll(".page-link");
  const searchInput = document.querySelector(".kw");
  const btnSearch = document.getElementById("btn_search");
  const searchForm = document.getElementById("searchForm");
  const kw = document.getElementById("kw");
  const page = document.getElementById("page");

  const onClick = (e) => {
    page.value = e.target.dataset.page;
    searchForm.submit();
  }

  const onSearch = (e) => {    
    kw.value = searchInput.value;
    page.value = 1;
    searchForm.submit();
  }

  page_links.forEach(link => link.addEventListener('click', onClick));
  btnSearch.addEventListener('click', onSearch);

</script>

{% endblock %}